{% extends 'base.html' %}

{% block title %}Список изображений{% endblock %}

{% block content %}
    <h1>Список изображений</h1>
    {% if latest_images %}
        {% for i in latest_images %}
            <a href="{% url 'resizer:viewimage' i.image_name %}">{{i.image_name}}</a>
            <br/>
            <br/>
        {% endfor %}


    {% else %}
        Нет доступных изображений
    {% endif %}
        <br/>
        <br/>
    <a href="{% url 'resizer:inputimage'%}">Добавить изображение</a>
{%endblock%}